<h1>Index</h1>

<table>
  <tr>
    <th>ID:</th>
    <th>TITLE:</th>
    <th>NAME:</th>
    <th>CONTENTS:</th>
    <th>ShowShow</th>
  </tr>
  <%@questions.each do |question| %>
  <tr>
    <th><%= question.id %></th>
    <th><%= question.title %></th>
    <th><%= question.name %></th>
    <th><%= question.content %></th>
    <th><%= link_to "詳細", question_path(question)%></th>
    <th><%= link_to "編集", edit_question_path(question)%></th>
    <th><%= link_to "削除", question_path(question),
              data: {turbo_method: :delete, turbo_confirm: '本当に削除しますか?'} %></th>
  </tr>
  <% end %>
</table>
